body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


#postText {
  margin-top: 30px;
  width: 50%;
}

.form {
  text-align: center;
}


.content {
  /* height: auto; */
  border: 1px solid ;
  height: 200px;
  box-shadow: gray 0px 0px 3px 1px;
  width: 400px;
  margin-left: 500px;
  margin-top: 1%;
  padding: 10px;
}